<body>
  <div class="container">
    <div class="row">
      <!-- {{title}} -->
    
      <input  type="text" placeholder="Readonly input here…" [(ngModel)]= "input">
      <!-- {{input}} -->
    </div>
      
       

    <div id = "calc" class="calc"> 
      <h1>Calculator</h1>
      <div class = "solar">
      
      </div>
      <div class="row">
        <button class="num" (click)="num('1')">1</button>
        <button class="num"(click)="num('2')">2</button>
        <button class="num"(click)="num('3')">3</button>
        <button class="operator" (click) = "operator('*')">*</button>
      </div>
      <div class="row">
        <button class="num" (click)="num('4')">4</button>
        <button class="num" (click)="num('5')">5</button>
        <button class="num" (click)="num('6')">6</button>
        <button class="operator" (click) = "operator('+')">+</button>
      </div>
      <div class="row">
        <button class="num" (click)="num('7')">7</button>
        <button class="num" (click)="num('8')">8</button>
        <button class="num"(click)="num('9')" >9</button>
        <button class="operator" (click) = "operator('-')">-</button>
      </div>
      <div class="row">
        <button class="reset" (click) = "clear()">C</button>
        <button class="num"(click)="num('0')"> 0 </button>
        <button class="equal"(click)= "equal()"> = </button>
        <button class="operator" (click) = "operator('/')">/</button>
      </div>
    </div>
  </div>
  <script src="calc.js"></script>
</body>


<!-- (click)="getAnswer()" -->